
.notification{
  display: inline;
  color: white;
  background-color: red;
  font-size: 18px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius:50%;
  width: 2em;
  height: 1.7em;
}

.brand{
  margin-top: -6px;
}

.check{
  margin-top: 10px;
}

nav a:hover{
  text-shadow: 0px 0px 30px  white;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
  width: 100%;
  background-image: url(../pictures/header.jpg);
  background-size: cover;
  background-position: center;

}

.header-text{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  color: white;
}
.task {
  background-color: rgb(6, 202, 240);
  display: inline-block;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.task:hover{
  box-shadow: 0px 0px 30px 1px rgb(6, 202, 240);
}

#sort:hover{
  text-shadow: 0px 0px 20px black;

}
.fs3 {
  font-size: 18px;
}

.box-shadow{
  margin-top: 5em;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.d-btn{
  height: 2em;
  width: 5em;
  border-radius: 4px;
  font-size: 18px
}

.main-header{
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-bottom: -1em;

}

.main-header p{
  margin-top: 1em;
}

#sort {
  background-color: unset;
  border: none;
  font-size: 18px;
}

main{
  flex-flow: column;
}

.cards{
  margin-top: 2em;
  width:18em;
}

footer{
  margin-top: 2em;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 18px;
}
footer  li, a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  color: white;
  
}

footer a{
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

footer a:hover{
box-shadow: 0px 0px 30px 1px white;
color: white;
}

footer i {
  font-size: 14px;
  padding: 5px;
  
}
.input-input{
  width: 100%;
  justify-content: center;
}

footer ul{
  margin-left: -2em;
  margin-top: 1em;
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  border-radius: 5px;
}

form{
  width: 30%;
}
.input{
  width: 60%;
}

.copy{
  margin-top: 2em ;
}



.subscribe {
  background-color: black;
  border: 1px solid white;
  color: white;
  margin-bottom: 10px;
}

.subscribe:hover{
  box-shadow: 0px 0px 30px 1px white;
}

#cards{
  width: 30%;
}

@media screen and (min-width:1200px) and (max-width:1399px) {
  #cards{
    width: 30%;
  }
}
@media screen and (min-width:992px) and (max-width:1199.999px) {
  #cards {
      width: 30%;
    }
  form{
    width: 60%;
  }

  .buttons {
    font-size: 16px;
  }
}

@media screen and (min-width:768px) and (max-width:991.999px) {
  #cards {
      width: 40%;
    }
  
  form {
    width: 60%;
  }

    .buttons {
      font-size: 16px;
    }
}

@media screen and (min-width:576px) and (max-width:767.999px){

  #cards {
    width: 70%;
  }

  .input-input{
    flex-flow: column;
  }

  .input-input p {
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-flow: column;
      width: 50%;
      align-self: center;
    }
  .input{
    width: 100%;
  }
  .subscribe{
    width: 70%;
    align-self: center;
  }

  .buttons{
    font-size: 14px;
  }
}
@media screen and (min-width:300px) and (max-width:575.999px){

  #cards {
    width: 80%;
  }

  .input-input{
    flex-flow: column;
  }

  .input-input p {
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-flow: column;
      width: 50%;
      align-self: center;
    }
  .input{
    width: 100%;
  }
  .subscribe{
    width: 70%;
    align-self: center;
  }

  .buttons{
    font-size: 12px;
  }
}@media screen  and (max-width:299.999px){

  #cards {
    width: 80%;
  }

  .input-input{
    flex-flow: column;
  }

  .input-input p {
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-flow: column;
      width: 50%;
      align-self: center;
    }
  .input{
    width: 100%;
  }
  .subscribe{
    width: 70%;
    align-self: center;
  }

  .buttons{
    font-size: 10px;
  }
}




